*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: yellowgreen;
    font-weight: bolder;
}

h2{
    color: cyan;
    font-weight: 500;       
}

p{
    font-style: italic;
    font-weight: bolder;
    color: blueviolet;
}

ol , ul{
    color: goldenrod;
}



a{
    color: red;
    background-color: none;
    font-weight: lighter;
}   

